#qr {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    display: flex;
}

.y {
    float: left;
    flex: 1 1 auto;

}

.y a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.y a:hover:not(.active) {
    background-color: #111;
}

header {
    background-color: rgb(104, 107, 106);
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-style: italic;
}

#qw {
    position: absolute;
    left: 40px;
    top: 50px;
    width: 100px;
    height: 100px;

}

#qe {
    position: relative;
    right: 0px;
}

.search {
    width: 300px;
    height: 40px;
    border-radius: 18px;
    border: 1px solid #ccc;
}

#firstname {
    border-radius: 18px;
    border: 1px solid rgb(57, 57, 57);

}

#lastname {
    border-radius: 18px;
    border: 1px solid rgb(57, 57, 57);
    margin-top: 20px;
}

#course {
    border-radius: 18px;
    border: 1px solid rgb(57, 57, 57);
    margin-top: 20px;
}

#number {
    border-radius: 18px;
    border: 1px solid rgb(57, 57, 57);
    margin-top: 20px;
}

#myform {
    text-align: center;

}

.btn {
    height: 35px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    font-family: sans-serif;
}

p {
    color: #666;
}

h2 {
    font-size: 2em;
    color: #e74c3c;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}



.masthead {
    background: #e74c3c;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.site-title {
    margin: 0 0 1em;
    padding: 1em 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: black;
}

@media screen and (min-width: 44.44em) {
    .site-title {
        font-size: 2em;
    }
}

@media screen and (min-width: 50em) {
    .site-title {
        font-size: 2.5em;
    }
}

.site-title a {
    color: hsl(5, 45%, 95%);
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}


body {
    background: #ecf0f1;
    line-height: 1.4;
}

.site-title {
    color: white;
}

.card {
    background: white;
    margin-bottom: 2em;
}

.card a {
    color: black;
    text-decoration: none;
}

.card a:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
    padding: 1.4em;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
}

.card-content p {
    font-size: 95%;
}

img {
    width: 100%;
    height: auto;
}


@media screen and (min-width: 40em) {
    .cards {
        margin-top: -1em;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        margin-bottom: 1em;
        display: flex;
        flex: 0 1 calc(50% - 0.5em);

    }
}

@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }

    .card {
        margin-bottom: 2em;
        display: flex;
        flex: 0 1 calc(33% - 0.5em);
    }
}

.footer {
    background-color: #696767;
    padding: 10px;
    text-align: center;
}

#container {
    width: 832px;
    margin: auto;
    background-color: #8dbdc2;
    height: 200px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 2px solid #333232;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f7f0f0;
}